.advantages-card {
  position: relative;
  margin-bottom: 29px;
  max-width: 190px;
  margin-left: 60px;
}

.advantages-card_gray {
  padding-bottom: 24px;
  text-align: center;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(214, 214, 214);
  }
}

.advantages-card_house {
  &::before {
    content: url("../../img/icon-house.svg");
    width: 39px;
    height: 37px;
    position: absolute;
    left: -50px;
    top: -12px;
  }
}

.advantages-card_present {
  &::before {
    content: url("../../img/icon-gift.svg");
    width: 39px;
    height: 37px;
    position: absolute;
    left: -48px;
    top: -12px;
  }
}

.advantages-card_food {
  &::before {
    content: url("../../img/icon-burger.svg");
    width: 39px;
    height: 37px;
    position: absolute;
    left: -48px;
    top: -12px;
  }
}

.advantages-card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages-card__description,
.advantages-card__number {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
