.checkbox-field {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: $input-bg-color;
  appearance: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    border-radius: 0;
  }

  &:checked {
    background-image: url("../img/tick.svg");
    background-size: 24px;
    background-position: 16px 20px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: 18px 22px;
    }
  }

  &:hover {
    background-color: $border-color;
  }

  &:active {
    background-color: $btn-down-color;
  }
}
