.checkbox-field {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: $input-bg-color;
  appearance: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    border-radius: 0;
  }

  &:checked {
    background-image: url("../img/tick.svg");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $border-color;
  }

  &:active {
    background-color: $btn-down-color;
  }
}
