.footer-hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  text-decoration: none;
  color: $main-content-color;

  @media (min-width: $tablet-width) {
    padding: 5px 4px 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 14px;
  }
}
