.form-input {
  padding: 20px 22px;
  width: 100%;
  background-color: $input-bg-color;
  border: none;
  background-position: center right 20px;
  background-repeat: no-repeat;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $main-content-color;
  }
}

.form-input_icon_phone {
  background-image: url("../img/phone.svg");
}

.form-input_icon_email {
  background-image: url("../img/mail.svg");
}
