.form-field {
  display: flex;
  align-items: center;
  padding: 5px 0 10px;
}

.form-field_size_wide {
  .form-field__input {
    width: 100%;
  }
}

.form-field_direction_vertical {
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 11px 20px;
  }

  .form-field__label {
    padding: 0 0 8px 20px;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.form-field_direction_horizon {
  .form-field__label {
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    margin: 13px;

    @media (min-width: $tablet-width) {
      margin: 0 0 0 20px;
    }
  }
}

.form-field__label {
  margin-right: 10px;
  font-size: 13px;
  line-height: 19px;
  color: $input-name-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}
