.form-group__field {
  margin: 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 50px 20px 20px;
  }
}

.form-group__title {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-top: 18px;
  }
}

.form-group_user_feedback,
.form-group_user_visit,
.form-group_user_emotions {
  .form-group__title {
    position: relative;

    @media (min-width: $tablet-width) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 124px;
        height: 2px;
        background-color: $border-color;
        top: 50%;
      }

      &::before {
        left: 20px;
      }

      &::after {
        right: 20px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before,
      &::after {
        width: 280px;
      }
    }
  }
}

.form-group_user_full-name {
  .form-group__field {
    margin: 5px 20px;

    @media (min-width: $tablet-width) {
      margin: 55px 20px 5px 58px;
    }

    @media (min-width: $desktop-width) {
      margin: 55px 35px 0 51px;
    }
  }

  .form-group__title {
    @media (min-width: $tablet-width) {
      text-align: start;
      margin-left: 57px;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 0 52px;
    }
  }
}

.form-group_user_impression {
  .form-group__field {
    margin: 20px 20px 13px;

    @media (min-width: $tablet-width) {
      margin: 55px 20px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 57px 40px 20px;
    }
  }

  .form-group__title {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      text-align: left;
      padding-left: 20px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
      padding: 0;
      margin: 0 0 0 -6px;
    }
  }
}

.form-group_user_visit {
  .form-group__title {
    margin: 14px 0 16px;

    @media (min-width: $tablet-width) {
      margin: 0 0 22px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -100px;
    }
  }

  .form-group__field {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 40px 72px 0 94px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      flex-wrap: nowrap;
      margin: 38px 0 0 0;
    }
  }
}

.form-group_user_feedback {
  .form-group__title {
    margin: 20px 0 -8px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 28px;
    }
  }

  .form-group__field {
    @media (min-width: $tablet-width) {
      margin: 25px 21px 30px;
    }

    @media (min-width: $desktop-width) {
      margin: 43px 0 54px;
    }
  }
}

.form-group_user_emotions {
  .form-group__title {
    @media (min-width: $tablet-width) {
      margin-top: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 37px;
    }
  }

  .form-group__field {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin: 55px 20px 30px;
    }

    @media (min-width: $desktop-width) {
      margin: 50px auto 38px;
      max-width: 982px;
    }
  }
}
