.form-field {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.form-field_direction_vertical {
  display: block;

  .form-field__label {
    padding: 0 0 8px 20px;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form-field__hidden-label {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-field_direction_horizon {
  .form-field__label {
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
    margin: 25px;

    @media (min-width: $tablet-width) {
      margin: 0 0 0 20px;
    }
  }
}

.form-field__label {
  margin-right: 10px;
  font-size: 14px;
  line-height: 26px;
  color: $input-name-color;
  text-transform: uppercase;
}
