.form-field {
  display: flex;
  align-items: center;
  padding: 0 0 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;
  }
}

.form-field_wide {
  .form-field__input {
    width: 100%;
  }
}

.form-field_direction_vertical {
  display: block;
  padding: 0 0 7px;

  @media (min-width: $tablet-width) {
    padding: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 7px 11px 20px;
  }

  .form-field__label {
    line-height: 27px;
    padding-left: 20px;

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  .form-field__input {
    margin-top: 7px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.form-field_direction_horizon {
  padding: 0 0 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }

  .form-field__label {
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
    margin-left: 25px;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  .form-field__input {
    height: 60px;
  }
}

.form-field_user_visit {
  height: 80px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    height: 90px;
    width: 220px;
    padding-bottom: 27px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
  }

  .form-field__label {
    margin-left: 23px;

    @media (min-width: $tablet-width) {
      width: 125px;
      margin-left: 25px;
    }
  }
}

.form-field_size_small {
  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.form-field__label {
  margin-right: 15px;
  font-size: 14px;
  line-height: 26px;
  color: $input-name-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}
