.form-group {
  border: none;
  border-top: 1px solid $form-border-color;
  padding: 20px 20px 0;
}

.form-group__list {
  list-style-type: none;
  padding: 20px 0 0;
  margin: 0;
}

.form-group__title {
  width: 100%;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.form-group__textarea {
  width: 100%;
  resize: none;
  min-height: 160px;
  margin-top: 40px;
  padding: 13px 21px;
  border: none;
  background-color: $input-bg-color;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $main-content-color;
  }
}
