.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.main-nav_nojs {
  .main-nav__item {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav_closed-menu {
  .main-nav__item {
    display: none;
  }

  .main-nav__item_logo {
    display: block;
  }

  .main-nav__toggle {
    background-image: url("../img/icon-menu.svg");
  }

  @media (min-width: $tablet-width) {
    .main-nav__item {
      display: block;
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
