.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
}
