.main-logo {
  background-color: $light-content-color;
  border: none;
  padding: 0;

  &:hover {
    background-color: $light-content-color;
  }

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1;
  }
}

.main-logo__link {
  display: block;
}
