.main-advantages {
  width: 100%;
}

.main-advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-advantages__item {
  background-color: $main-page-color;
  text-transform: uppercase;
}

.main-advantages__cards,
.main-advantages__tourist-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 42px 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 50px 42px;
  }
}

.main-advantages__cards {
  background-color: $light-content-color;
  padding: 10px 20px 37px;

  @media (min-width: $tablet-width) {
    padding: 50px 25px 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 40px 76px;
  }
}

.main-advantages__tourist-feature {
  background-color: $special-page-color;
}
