.main-tagline {
  max-width: 365px;
  padding: 35px 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.main-tagline__title {
  margin: 0 auto;
  line-height: 26px;
  font-size: 18px;
}

.main-tagline__description {
  margin: 40px auto 0;
  font-size: 14px;
  line-height: 26px;
}
