.main-tagline {
  max-width: 365px;
  padding: 34px 20px 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 583px;
    padding: 45px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 42px;
  }
}

.main-tagline_size_small {
  padding: 35px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 64px 0 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 0 58px;
  }

  .main-tagline__title {
    @media (min-width: $tablet-width) {
      font-size: 25px;
    }
  }

  .main-tagline__description {
    @media (min-width: $tablet-width) {
      font-size: 15px;
      margin: 31px 55px 0;
    }
  }
}

.main-tagline__title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.main-tagline__description {
  position: relative;
  margin: 31px auto 0;
  font-size: 13px;
  line-height: 25px;
}

.main-tagline_page_index {
  .main-tagline__title {
    font-size: 19px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  .main-tagline__description {
    @media (min-width: $tablet-width) {
      font-size: 14px;
    }

    &::after {
      content: url("../img/white-triangle.svg");
      position: absolute;
      right: -20px;
      bottom: -57px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.main-tagline_page_catalog {
  padding: 34px 20px 30px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 80px;
  }

  .main-tagline__title {
    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }

  .main-tagline__description {
    font-size: 14px;
    line-height: 23px;

    @media (min-width: $tablet-width) {
      margin: 31px 70px 0;
      line-height: 25px;
    }
  }
}
