.nav-list {
  display: flex;
  flex-direction: column;
  background-color: $main-page-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $light-content-color;
  }
}

.nav-list__item {
  height: 56px;
  color: $light-content-color;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  list-style-type: none;
  border-top: 2px solid $dark-transparent-color;
  border-bottom: 2px solid $light-transparent-color;

  &:hover {
    background-color: $main-color-hover;
  }

  &:active {
    background-color: $main-color-active;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 14px;
    line-height: 26px;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}

.nav-list__item_logo {
  background-color: $light-content-color;
  border: none;

  &:hover {
    background-color: $light-content-color;
  }

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1;
  }
}

.nav-list__link,
.nav-list__item-content {
  display: block;
  width: 100%;
  padding: 10px 0 5px;
  text-decoration: none;
  color: $light-content-color;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }
}

.nav-list__link {
  @media (min-width: $tablet-width) {
    color: $main-content-color;

    &:hover {
      color: $main-page-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.nav-list__item-content {
  @media (min-width: $tablet-width) {
    color: #766357;
    cursor: pointer;

    &:hover {
      color: #604e43;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
