.page-form {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 84px;
  }
}

.page-form__footer {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px;
    margin-bottom: 65px;
  }
}

.page-form__button {
  margin: 18px auto 47px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.page-form__footnotes {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }
}
