.page-form {
  width: 100%;
}

.page-form__wrapper {
  margin: 20px 0 25px;
  padding-top: 20px;
}

.page-form__footer {
  padding: 0 20px;
}

.page-form__button {
  margin: 0 auto;
}

.page-form__footnotes {
  display: none;
}
