.page-form__wrapper {
  margin: 20px 0 25px;
}

.page-form__line {
  margin: 0;
  border-style: solid;
  border-bottom: none;
  color: $form-border-color;
}

.page-form__footer {
  padding: 0 20px;
}

.page-form__button {
  margin: 0 auto;
}

.page-form__footnotes {
  display: none;
}
