.page-footer__inner-wrapper {
  min-width: 151px;
  margin: 36px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 50px 40px 50px;
    margin: 40px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 38px 0;
    padding: 0 104px 35px 104px;
  }
}
