.page-popup {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
}

.page-popup_succes,
.page-popup_failur {
  display: none;
}

.page-popup__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.page-popup__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 35px auto;
}

.page-popup__close-block {
  padding: 20px;
  background-color: $input-bg-color;
}

.page-popup__button {
  margin: 0 auto;
}
