.photo-card__picture-link {
  display: block;
  width: 280px;
  height: 280px;
}

.photo-card__image {
  width: 100%;
}

.photo-card__description {
  font-size: 14px;
  line-height: 24px;
}

.photo-card__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo-card__like {
  position: relative;
  font-weight: bold;
  margin: 20px 0 0;
  padding-left: 35px;

  &::before {
    content: url("../img/like-icon.svg");
    position: absolute;
    width: 23px;
    height: 24px;
    left: 0;
  }
}
