.radio-field {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    width: 48px;
    height: 48px;
    background-color: $input-bg-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-color: $main-content-color;
    top: -10px;
    left: 15px;
    opacity: 0;
    border-radius: 50%;
  }
}

.radio-field__input {
  display: none;
}
