.search-hotel {
  padding: 32px 20px 58px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 65px;
  }
}

.search-hotel__button {
  @media (min-width: $tablet-width) {
    width: 457px;
  }
}

.search-hotel__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    font-size: 26px;
  }
}

.search-hotel__description {
  margin: 0;
  padding: 20px 0 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 31px 18px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 17px 43px;
  }
}
