.text-field {
  width: 100%;
  padding: 20px 67px 20px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background-color: $input-bg-color;
  border: none;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $desktop-width) {
    padding: 20px 85px 20px 20px;
  }

  &::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: $main-content-color;
  }

  &:hover {
    background-color: $border-color;
  }

  &:focus {
    background-color: $light-content-color;
    outline: 4px solid $border-color;
  }
}

.text-field_icon_phone {
  background-image: url("../img/group-phone.svg");
}

.text-field_icon_email {
  background-image: url("../img/group-mail.svg");
}
