.textarea-field {
  width: 100%;
  resize: none;
  min-height: 160px;
  margin-top: 40px;
  padding: 13px 21px;
  border: none;
  background-color: $input-bg-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $main-content-color;
  }

  &:hover {
    background-color: $border-color;
  }

  &:focus {
    background-color: $light-content-color;
    outline: 4px solid $border-color;
  }
}
