.text-field {
  width: 100%;
  padding: 20px 20px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background-color: $input-bg-color;
  border: none;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 85px 18px 22px;
  }

  &::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: $main-content-color;
  }

  &:hover {
    background-color: $border-color;
  }

  &:focus {
    background-color: $light-content-color;
    border: 4px solid $border-color;
    padding: 16px 16px 11px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
    }

    @media (min-width: $desktop-width) {
      padding: 14px 81px 14px 18px;
    }
  }
}

.text-field_icon_phone {
  background-image: url("../img/group-phone.svg");
}

.text-field_icon_email {
  background-image: url("../img/group-mail.svg");
}
