.tourist-feature-card {
  position: relative;
  padding: 24px 12px 8px;
  max-width: 280px;
  text-align: center;
  border-bottom: 2px solid $card-border-color;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border: none;
    max-width: 246px;
  }

  @media (min-width: $desktop-width) {
    max-width: 304px;
    padding: 0;
  }
}

.tourist-feature-card__title {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 74px;
  }
}

.tourist-feature-card__description {
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    margin: 25px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 5px;
  }
}

.tourist-feature-card__number {
  margin: 12px 0;
}

.tourist-feature-card__description,
.tourist-feature-card__number {
  font-size: 13px;
  line-height: 19px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }
}
