.video-presentation {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.video-presentation__wrapper {
  padding: 20px 0 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 60px;
  }
}

.video-presentation__prompting {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
}

.video-presentation__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-presentation__description {
  font-size: 14px;
  line-height: 24px;
}

.video-presentation__player {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
