.main-advantages {
  width: 100%;
}

.main-advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-advantages__item {
  background-color: $main-page-color;
  text-transform: uppercase;
}

.main-advantages__cards,
.main-advantages__tourist-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 36px;
  }
}

.main-advantages__cards {
  background-color: $light-content-color;
  margin-left: 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-advantages__tourist-feature {
  background-color: $special-page-color;
}
