@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page {
  height: 100%;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px; }

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #e7e5e5; }

.page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff; }

.page-sprite {
  display: none; }

.page-header {
  text-align: center; }

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; }

.main-nav__list {
  margin: 0;
  padding: 0; }

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg"); }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }
  .main-nav__toggle:hover {
    opacity: 0.6; }
  .main-nav__toggle:active {
    opacity: 0.3; }

.closed-menu .closed-menu__item {
  display: none; }

.closed-menu .closed-menu__item-logo {
  display: block; }

.closed-menu .closed-menu__btn {
  background-image: url("../img/icon-menu.svg"); }

.menu-nojs .menu-nojs__btn {
  display: none; }

.nav-list {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  width: 100%; }
  @media (min-width: 768px) {
    .nav-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: #ffffff; } }

.nav-list__item {
  height: 56px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  list-style-type: none;
  border-top: 2px solid #01010133;
  border-bottom: 2px solid #ffffff33; }
  .nav-list__item:hover {
    background-color: #669ec0; }
  .nav-list__item:active {
    background-color: #5496bd; }
  @media (min-width: 768px) {
    .nav-list__item {
      border: none;
      font-size: 14px;
      line-height: 26px; }
      .nav-list__item:hover, .nav-list__item:active {
        background-color: transparent; } }

.nav-list__item_logo {
  background-color: #ffffff;
  border: none; }
  .nav-list__item_logo:hover {
    background-color: #ffffff; }
  @media (min-width: 768px) {
    .nav-list__item_logo {
      grid-column: 3/4;
      grid-row: 1; } }

.nav-list__link,
.nav-list__item-content {
  display: block;
  width: 100%;
  padding: 10px 0 5px;
  text-decoration: none;
  color: #ffffff; }
  .nav-list__link:active,
  .nav-list__item-content:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .nav-list__link {
    color: #000000; }
    .nav-list__link:hover {
      color: #81b3d2; }
    .nav-list__link:active {
      opacity: 0.3; } }

@media (min-width: 768px) {
  .nav-list__item-content {
    color: #766357;
    cursor: pointer; }
    .nav-list__item-content:hover {
      color: #604e43; }
    .nav-list__item-content:active {
      opacity: 0.3; } }

.main-logo {
  display: block; }

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-slogan {
  width: 100%;
  padding: 90px 20px 85px;
  background-color: #81b3d2;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main-slogan__picture {
  display: block;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-slogan__picture {
      width: 460px; } }

.main-tagline {
  max-width: 365px;
  padding: 35px 20px 0;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .main-tagline {
      max-width: 583px;
      padding-bottom: 55px; } }

.main-tagline__title {
  margin: 0 auto;
  line-height: 26px;
  font-size: 18px; }
  @media (min-width: 768px) {
    .main-tagline__title {
      font-size: 21px; } }

.main-tagline__description {
  margin: 40px auto 0;
  font-size: 14px;
  line-height: 26px; }

.main-advantages {
  width: 100%; }

.main-advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.main-advantages__item {
  background-color: #81b3d2;
  text-transform: uppercase; }

.main-advantages__cards,
.main-advantages__tourist-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 40px; }
  @media (min-width: 768px) {
    .main-advantages__cards,
    .main-advantages__tourist-feature {
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 36px; } }

.main-advantages__cards {
  background-color: #ffffff;
  margin-left: 60px; }
  @media (min-width: 768px) {
    .main-advantages__cards {
      margin: 0; } }

.main-advantages__tourist-feature {
  background-color: #eeeeee; }

.advantages-box {
  padding-top: 35px;
  color: #ffffff;
  text-align: center; }
  @media (min-width: 768px) {
    .advantages-box {
      display: flex;
      align-items: center;
      padding: 0; } }

.advantages-box_position-reverse {
  flex-direction: row-reverse; }

.advantages-box__inner-wrapper {
  padding: 0 20px; }
  @media (min-width: 768px) {
    .advantages-box__inner-wrapper {
      padding: 0 32px; } }
  @media (min-width: 1280px) {
    .advantages-box__inner-wrapper {
      padding: 0 52px; } }

.advantages-box__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .advantages-box__title {
      font-size: 21px; } }
  @media (min-width: 1280px) {
    .advantages-box__title {
      padding: 0 62px; } }

.advantages-box__number,
.advantages-box__description {
  font-size: 14px;
  line-height: 21px; }

.advantages-box__wrapper-image {
  height: 260px;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .advantages-box__wrapper-image {
      min-width: 512px; } }
  @media (min-width: 1280px) {
    .advantages-box__wrapper-image {
      min-width: 800px; } }

.advantages-box__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.advantages-card {
  position: relative;
  max-width: 190px;
  padding: 30px 0 0; }
  .advantages-card::before {
    width: 39px;
    height: 37px;
    position: absolute;
    top: 20px;
    left: -60px; }
    @media (min-width: 768px) {
      .advantages-card::before {
        top: 0;
        left: 72px; } }
    @media (min-width: 1280px) {
      .advantages-card::before {
        left: 133px; } }
  @media (min-width: 768px) {
    .advantages-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  @media (min-width: 1280px) {
    .advantages-card {
      max-width: 313px; } }

.advantages-card_icon_house::before {
  content: url("../img/icon-house.svg"); }

.advantages-card_icon_present::before {
  content: url("../img/icon-gift.svg"); }

@media (min-width: 768px) {
  .advantages-card_icon_present {
    order: 2; } }

.advantages-card_icon_food::before {
  content: url("../img/icon-burger.svg"); }

@media (min-width: 768px) {
  .advantages-card_icon_food {
    order: 1; } }

.advantages-card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .advantages-card__title {
      padding-top: 40px;
      font-size: 21px; } }

.advantages-card__description,
.advantages-card__number {
  margin: 24px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.tourist-feature-card {
  position: relative;
  padding: 30px 0 0;
  max-width: 280px;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (min-width: 768px) {
    .tourist-feature-card {
      padding: 0 30px;
      border: none; } }

.tourist-feature-card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }

.tourist-feature-card__description,
.tourist-feature-card__number {
  margin: 24px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.search-hotel {
  padding: 30px 20px 0;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .search-hotel {
      max-width: 458px;
      padding: 58px 0; } }
  @media (min-width: 1280px) {
    .search-hotel {
      padding-bottom: 65px; } }

.search-hotel__button {
  width: 100%; }

.search-hotel__title {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .search-hotel__title {
      font-size: 30px; } }

.search-hotel__description {
  margin: 0;
  padding: 40px 0;
  font-size: 14px;
  line-height: 24px; }

.page-footer {
  min-width: 151px;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .page-footer {
      flex-direction: row;
      padding: 0 50px; } }
  @media (min-width: 1280px) {
    .page-footer {
      padding: 0 104px; } }

.footer-hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #000000; }

.footer-social__list {
  min-width: 151px;
  margin: 38px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }

.footer-social__link {
  position: relative;
  display: block;
  width: 47px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2; }
  .footer-social__link:hover {
    background-color: #669ec0; }
  .footer-social__link:active {
    background-color: #5496bd;
    fill-opacity: 0.3; }

.footer-social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.footer-copyright {
  min-width: 151px; }

.footer-copyright__link {
  position: relative;
  padding-left: 5px;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #000000; }
  .footer-copyright__link:hover {
    fill: #81b3d2; }
  .footer-copyright__link:active {
    fill-opacity: 0.3; }

.footer-copyright__icon {
  position: absolute;
  right: -40px; }

.page-form {
  width: 100%; }
  @media (min-width: 768px) {
    .page-form {
      padding: 0 40px; } }
  @media (min-width: 1280px) {
    .page-form {
      padding: 0 84px; } }

.page-form__footer {
  padding: 0 20px; }
  @media (min-width: 768px) {
    .page-form__footer {
      grid-column: 1/3;
      display: flex;
      justify-content: space-between; } }

.page-form__button {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-form__button {
      margin: 0; } }

.page-form__footnotes {
  display: none; }
  @media (min-width: 768px) {
    .page-form__footnotes {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 26px; } }

@media (min-width: 768px) {
  .layout-form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }

.layout-form__group {
  border: none; }
  @media (min-width: 768px) {
    .layout-form__group {
      grid-column: 1/3; } }

@media (min-width: 768px) {
  .layout-form__group_user_full-name {
    grid-column: 2/3; } }

.layout-form__group_user_full-name .form-field__input {
  width: 100%; }

@media (min-width: 768px) {
  .layout-form__group_user_impression {
    grid-column: 1/2;
    grid-row: 1;
    border-right: 2px solid #e5e5e5; } }

@media (min-width: 768px) {
  .layout-form__group_user_places-visited .form-group__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 484px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  .layout-form__group_user_places-visited .form-group__field {
    flex-wrap: nowrap;
    justify-content: space-around; } }

@media (min-width: 768px) {
  .layout-form__group_user_places-visited .form-group__title {
    width: 483px; } }

@media (min-width: 1280px) {
  .feedback-form__fieldset .form-group__field {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1280px) {
  .feedback-form__label {
    position: absolute;
    opacity: 0; } }

.form-group {
  border-top: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .form-group {
      border-top: none; } }

.form-group__field {
  margin: 20px 20px; }

.form-group__title {
  width: 100%;
  margin: 20px auto 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form-group__title {
      font-size: 21px; } }

.form-field {
  display: flex;
  align-items: center;
  padding-top: 20px; }

.form-field_direction_vertical {
  display: block; }
  @media (min-width: 1280px) {
    .form-field_direction_vertical {
      display: flex; } }
  .form-field_direction_vertical .form-field__label {
    padding: 0 0 8px 20px; }
    @media (min-width: 1280px) {
      .form-field_direction_vertical .form-field__label {
        padding: 0; } }

@media (min-width: 768px) {
  .form-field_direction_horizon {
    min-width: 50%; } }

.form-field_direction_horizon .form-field__label {
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
  margin: 25px; }
  @media (min-width: 768px) {
    .form-field_direction_horizon .form-field__label {
      margin: 0 0 0 20px; } }

.form-field__input .text-field {
  min-width: 100%; }

.form-field__label {
  margin-right: 10px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase; }

.text-field {
  padding: 20px 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  background-position: center right 20px;
  background-repeat: no-repeat; }
  .text-field::-moz-placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000; }
  .text-field::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000; }
  .text-field:hover {
    background-color: #e5e5e5; }
  .text-field:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5; }

.text-field_icon_phone {
  background-image: url("../img/phone.svg"); }

.text-field_icon_email {
  background-image: url("../img/mail.svg"); }

.radio-field {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .radio-field:checked {
    background-image: url("../img/shape2.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat; }
  .radio-field:hover {
    background-color: #e5e5e5; }

.checkbox-field {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f2f2f2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .checkbox-field:checked {
    background-image: url("../img/tick.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat; }
  .checkbox-field:hover {
    background-color: #e5e5e5; }

.textarea-field {
  width: 100%;
  resize: none;
  min-height: 160px;
  padding: 13px 21px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }
  .textarea-field::-moz-placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000; }
  .textarea-field::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000; }
  .textarea-field:hover {
    background-color: #e5e5e5; }
  .textarea-field:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5; }

.button {
  display: block;
  min-width: 280px;
  padding: 14px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none; }
  .button:hover {
    background-color: #669ec0; }
  .button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }

.page-popup {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px; }

.page-popup_succes,
.page-popup_failur {
  display: none; }

.page-popup__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }

.page-popup__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 35px auto; }

.page-popup__close-block {
  padding: 20px;
  background-color: #f2f2f2; }

.page-popup__button {
  margin: 0 auto; }

.photo-cards {
  width: 100%; }

.photo-cards__list {
  padding: 0 20px; }
  @media (min-width: 768px) {
    .photo-cards__list {
      padding: 0 60px; } }

.photo-cards__item {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  list-style-type: none; }
  @media (min-width: 768px) {
    .photo-cards__item {
      border: none;
      padding: 0; } }

@media (min-width: 768px) {
  .card-list-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1280px) {
  .card-list-layout {
    grid-template-columns: repeat(3, 1fr); } }

.card-list-layout__main-item {
  grid-column: 1/3; }
  @media (min-width: 1280px) {
    .card-list-layout__main-item {
      grid-column: 1/4; } }

@media (min-width: 768px) {
  .photo-card {
    width: 100%; } }

.photo-card__picture-link {
  display: block;
  width: 280px;
  height: 280px; }

.photo-card__image {
  width: 100%; }

.photo-card__description {
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .photo-card__description {
      display: grid;
      grid-template-columns: minmax(209px, 500px) 1fr;
      background-color: #f2f2f2;
      max-height: 80px;
      padding: 15px; } }
  @media (min-width: 1280px) {
    .photo-card__description {
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      top: -80px;
      margin-bottom: -80px; } }

.photo-card__author,
.photo-card__title {
  margin: 0; }

.photo-card__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }

.photo-card__like {
  position: relative;
  font-weight: bold;
  margin: 20px 0 0;
  padding-left: 35px; }
  .photo-card__like::before {
    content: url("../img/like-icon.svg");
    position: absolute;
    width: 23px;
    height: 24px;
    left: 0; }
  @media (min-width: 768px) {
    .photo-card__like {
      grid-column: 2/3;
      grid-row: 1/3;
      justify-self: end;
      align-self: center;
      margin: 0; } }

.video-presentation {
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .video-presentation {
      width: 100%; } }

.video-presentation__wrapper {
  padding: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    .video-presentation__wrapper {
      padding: 20px 60px; } }

.video-presentation__prompting {
  width: 500px;
  margin: 0 auto; }

.video-presentation__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .video-presentation__title {
      font-size: 30px; } }

.video-presentation__description {
  font-size: 14px;
  line-height: 24px; }

@media (min-width: 768px) {
  .video-presentation__player {
    height: 500px; } }

.video-player {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  @media (min-width: 768px) {
    .video-player {
      height: 100%; } }

.video-player__controls {
  width: 280px;
  height: 40px;
  background-color: #000000;
  opacity: 0.6; }
  @media (min-width: 768px) {
    .video-player__controls {
      width: 100%;
      height: 93px; } }

/*# sourceMappingURL=style.css.map */
